{{> header}}

<h1>{{title}}</h1>

<div class="repertoire">

{{#banner.title}}
<section>
    <header class="banner">
        <h2 class="banner-title">{{banner.title}}</h2>
    </header>
    <div class="banner-content">
        {{banner.content}}
    </div>
</section>
{{/banner.title}}

{{#songs}}
<ol>
    <li class="song">
        <h2 class="song-title"><a href="/song/{{ id }}/{{ slug }}">{{title}}</a></h2>
        <div class="song-meta">By  <strong>{{composer}}</strong>, on <strong>{{addedAt}}</strong></div>
    </li>
</ol>
{{/songs}}
</div>

{{> footer}}