@charset "utf-8";

// colors
$purple: #9431a8;
$blue: #64b9d3;
$primary: $purple;

// Font
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');
$family-sans-serif: "Fira Sans", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Merriweather", serif;

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$strong-weight: $weight-semibold;

// menu
$menu-item-color: $white-ter;
$menu-item-hover-color: $white-bis;
$menu-item-hover-background-color: $grey-dark;
$menu-item-active-color: $white;
$menu-item-active-background-color: $primary;
$menu-label-color: $grey-lighter;

@import "../node_modules/bulma/bulma.sass";