chorister:
  title: Chorister
  version: 0.1
server:
  port: 8090
  compression:
    enabled: true
  forward-headers-strategy: framework
spring:
  jackson:
    mapper:
      accept-case-insensitive-enums: true
  jpa:
    database-platform: org.hibernate.dialect.CockroachDialect
    hibernate.ddl-auto: validate
    properties:
      hibernate:
        default_schema: order_of_service
        jdbc:
          lob:
            non_contextual_creation=true
        temp.use_jdbc_metadata_defaults: false
        show-sql: true
        format-sql: true
        dialect: org.hibernate.dialect.CockroachDialect
  liquibase:
    change-log: classpath:db/changelog/changelog-master.yaml
    default-schema: order_of_service
    drop-first: false
    contexts: crdb
    enabled: true
  data:
    rest:
      detection-strategy: default
      basePath: /api