chorister:
  base-url: "https://chorister.co"
  datasource:
    system:
      url: ${CHORISTER_DATA_SOURCE_URL}
      driver-class-name: org.postgresql.Driver
      username: ${CHORISTER_DATABASE_ADMIN_USERNAME}
      password: ${CHORISTER_DATABASE_ADMIN_PASSWORD}
      hikari:
        connection-test-query: SELECT 1
        maximum-pool-size: 50
        minimum-idle: 20
    user:
      url: ${CHORISTER_DATA_SOURCE_URL}
      username: ${CHORISTER_DATABASE_USER_USERNAME}
      password: ${CHORISTER_DATABASE_USER_PASSWORD}
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://login.chorister.co
          jwk-set-uri: https://login.chorister.co/oauth/v2/keys
        opaquetoken:
          introspection-uri: https://login.chorister.co/oauth/v2/introspect
          client-id: ${CHORISTER_API_CLIENT_ID}
          client-secret: ${CHORISTER_API_SECRET}
debug: false
logging:
  level:
    org:
      springframework:
        security: OFF
        web: ERROR
    nl.stevenbontenbal.chorister: DEBUG
    reactor:
      netty:
        http:
          client: ERROR
zitadel:
  base-url: https://login.chorister.co
  admin-access-token: ${CHORISTER_ZITADEL_ACCESS_TOKEN}
  project-id: ${CHORISTER_PROJECT_ID}
s3:
  endpoint-url: https://ffdaee23897ed0dfa581910404b6a41e.r2.cloudflarestorage.com
  bucket-name: ${CHORISTER_S3_BUCKET}
  region: auto
  access-key: ${CHORISTER_S3_ACCESS_KEY}
  secret-key: ${CHORISTER_S3_SECRET_KEY}