/* Error: This module was already loaded, so it can't be configured using "with".
 *     ,--> node_modules/bulma/sass/utilities/_index.scss
 * 4   |   @forward "initial-variables";
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new load
 *     '
 *     ,--> sass/mystyles.scss
 * 4   |   @use "bulma/sass/utilities/initial-variables" as v;
 *     |   ================================================== original load
 * ... |
 * 22  | / @use "bulma/sass" with (
 * 23  | |     $primary: $purple,
 * 24  | |     $purple: $purple,
 * 25  | |     $blue: $blue,
 * 26  | |     $family-primary: $family-sans-serif,
 * 27  | |     $family-secondary: '"Merriweather", serif',
 * 28  | |     $strong-weight: $weight-semibold,
 * 29  | |     $menu-item-color: $white-ter,
 * 30  | |     $menu-item-hover-color: $white-bis,
 * 31  | |     $menu-item-hover-background-color: $grey-dark,
 * 32  | |     $menu-item-active-color: $white,
 * 33  | |     $menu-item-active-background-color: $purple,
 * 34  | |     $menu-label-color: $grey-lighter,
 * 35  | | );
 *     | '-^ configuration
 *     '
 *   node_modules/bulma/sass/utilities/_index.scss 4:1  @forward
 *   bulma/_index.scss 1:1                              @use
 *   sass/mystyles.scss 22:1                            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This module was already loaded, so it can't be configured using \"with\".\a     \250c \2500 \2500 > node_modules/bulma/sass/utilities/_index.scss\a 4   \2502    @forward \"initial-variables\";\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ new load\a     \2575 \a     \250c \2500 \2500 > sass/mystyles.scss\a 4   \2502    @use \"bulma/sass/utilities/initial-variables\" as v;\a     \2502    \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a... \2502 \a 22  \2502  \250c  @use \"bulma/sass\" with (\a 23  \2502  \2502      $primary: $purple,\a 24  \2502  \2502      $purple: $purple,\a 25  \2502  \2502      $blue: $blue,\a 26  \2502  \2502      $family-primary: $family-sans-serif,\a 27  \2502  \2502      $family-secondary: '\"Merriweather\", serif',\a 28  \2502  \2502      $strong-weight: $weight-semibold,\a 29  \2502  \2502      $menu-item-color: $white-ter,\a 30  \2502  \2502      $menu-item-hover-color: $white-bis,\a 31  \2502  \2502      $menu-item-hover-background-color: $grey-dark,\a 32  \2502  \2502      $menu-item-active-color: $white,\a 33  \2502  \2502      $menu-item-active-background-color: $purple,\a 34  \2502  \2502      $menu-label-color: $grey-lighter,\a 35  \2502  \2502  );\a     \2502  \2514 \2500 ^ configuration\a     \2575 \a   node_modules/bulma/sass/utilities/_index.scss 4:1  @forward\a   bulma/_index.scss 1:1                              @use\a   sass/mystyles.scss 22:1                            root stylesheet";
}
