@charset "utf-8";

// colors
$purple: #9431a8;
$blue: #64b9d3;
$family-sans-serif: "Fira Sans", sans-serif;

// copy from initial-variables because SASS is stupid
$weight-semibold: 600 !default;
$white-ter: hsl(221, 14%, 96%) !default;
$white-bis: hsl(221, 14%, 98%) !default;
$white: hsl(221, 14%, 100%) !default;

$grey-dark: hsl(221, 14%, 29%) !default;
$grey: hsl(221, 14%, 48%) !default;
$grey-light: hsl(221, 14%, 71%) !default;
$grey-lighter: hsl(221, 14%, 86%) !default;

@use "bulma/sass" with (
    $primary: $purple,
    $purple: $purple,
    $blue: $blue,
    $family-primary: $family-sans-serif,
    $family-secondary: '"Merriweather", serif',
    $strong-weight: $weight-semibold,
    $navbar-height: 3.75rem,
);

// Font
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');